html {
  height: 100%;
}

body {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.status-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 5%;
}

.status-bar-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  max-width: 1400px;
  height: 85vh;
}

.card-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 250px;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.575);
  background-color: rgba(0, 0, 0, 0.575);
  border-radius: 25px;
}

.card-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  width: 95%;
  height: 95%;
}

.image {
  width: 160px;
  height: 160px;
}